<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonthlyReport</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    
</head>
<body>
    
    <div id="whole-conteiner">
        <div id="heather-menu">
            <p>PDU modification </p>
            <button id="return-buttom" onclick="returnToMainPage()"> Go back</button>
        </div>
        <hr>
        <div class="content-container">
            <div id="pdu-management-container">
                <table>
                    <thead id="table-header"></thead>
                    <tbody id="table-body"></tbody>
                  </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>